@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    50% {
        transform: translateY(-500px) rotate(360deg);
        opacity: 0;
        border-radius: 50%;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(228, 137, 227, 0.523);
    animation: animate 20s linear infinite;
}


.background li:nth-child(0) {
    left: 44%;
    width: 99px;
    height: 99px;
    bottom: -99px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 86%;
    width: 59px;
    height: 59px;
    bottom: -59px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 54%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 77%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 5s;
}

