a {
    text-decoration: none;
    color: #000;
}

.des {
    font-size: 15px;
}

.info {
    font-size: 23px;
}

@media (max-width: 767px) {
    .label-round {
        margin-top: 40px;
    }
}

.content, .round, .form-search {
    background-color: #fff;
    padding: 20px; 
    border: 2px solid rgb(202, 103, 207); 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.round {
    max-width: 625px; 
    margin: 0 auto;
}

.form-search {
    max-width: 1000px; 
}


.form-search {
    margin: auto;
    margin: 150px auto;
}


.total-point {
    font-size: 36px;
    font-weight: 700;
    color: #f747d9;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.round {
    position: relative;
}

.new-round {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(252, 90, 90);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    
}