$btn-check: #61e5b0;
$btn-back: #ffa763;
$head-text: #ff3d81;
$text: #484848;
$brand-color-bg: #d63384b4;
$brand-effect-bg: #f86d9d;
$bg-score: #ffbddfbd;
$score-text: #e23270;
$score-max-text: #fd3e81a1;
$bg-line-score: #bf1aa3;
$brand-color-border: #d63384;
$link-color: #f86d9d;
$link-hover-color: #ff508d;
$footer-color-bg: #fff5f5;
$footer-credit-color-bg: #5a5a5a;